# 3 Customer Lifetime Value (CLV)

In [17]:
# Import packages
import pandas as pd
import numpy as np
import datetime as dt

# Import dataset
online = pd.read_csv('..//Datasets/online_retail.csv',  encoding= 'unicode_escape')

In [18]:
# Inspect dataset
online.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [19]:
# add total sum
online['TotalSum'] = online.Quantity * online.UnitPrice

In [20]:
# convert to the datetime and extract only year and month
online['InvoiceMonth'] = pd.to_datetime(online.InvoiceDate).dt.to_period('M')

# Convert date to datetime
online.InvoiceDate =  pd.to_datetime(online.InvoiceDate)

In [21]:
# select only United Kingdom
online = online.loc[online.Country == 'United Kingdom']

In [22]:
# exclude all negative quantity
online = online.loc[online.Quantity >= 0]

online = online.loc[online.UnitPrice > 0]

In [23]:
# Drop duplicates and null values
online = online.drop_duplicates()
online = online.dropna()

## Calculate basic CLV
---
You are now ready to calculate average customer lifetime with three different methods! In this exercise you will calculate the basic CLV which multiplies average monthly spent with the projected customer lifespan.

In [24]:
# Calculate monthly spend per customer
monthly_revenue = online.groupby(['CustomerID','InvoiceMonth'])['TotalSum'].sum()

# Calculate average monthly spend
monthly_revenue = np.mean(monthly_revenue)

# Define lifespan to 36 months
lifespan_months = 36

# Calculate basic CLV
clv_basic = monthly_revenue * lifespan_months

# Print the basic CLV value
print('Average basic CLV is {:.1f} USD'.format(clv_basic))

Average basic CLV is 22244.4 USD

## Calculate granular CLV
---
In this scenario you will use more granular data points at the invoice level. This approach uses more granular data and can give a better customer lifetime value estimate. Make sure you compare the results with the one from the basic CLV model.

In [25]:
# Calculate average revenue per invoice
revenue_per_purchase = online.groupby(['InvoiceNo'])['TotalSum'].mean().mean()

# Calculate average number of unique invoices per customer per month
frequency_per_month = online.groupby(['CustomerID','InvoiceMonth'])['InvoiceNo'].nunique().mean()

# Define lifespan to 36 months
lifespan_months = 36

# Calculate granular CLV
clv_granular = revenue_per_purchase * frequency_per_month * lifespan_months

# Print granular CLV value
print('Average granular CLV is {:.1f} USD'.format(clv_granular))

Average granular CLV is 3366.1 USD